.Nav_bar{
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;

  display: flex;
  align-items: center; 
  justify-content: center; 
}

.Nav_bar img{
  width: 90px;
  position: absolute;
  left: 20px; 
}

.Nav_bar input{
  width: 60%;
  max-width: 600px;
  min-width: 180px;
  border-radius: 14px;
  height: 34px;
  color: rgb(40, 39, 39);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #5e5e5e;
  padding: 6px 12px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .Nav_bar input{
    width: calc(100% - 40px);
    max-width: none;
  }
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;

.card_box {
  width: 280px;
  border: 2px solid #eee;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card_box:hover{
    transform: scale(1.05);
}

.card_box img {
  width: 100%;
  border-radius: 5px 5px  0 0;
}

.card_box  h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
}

.card_box  p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    font-weight: lighter;
    color: rgb(41, 41, 41);
}
}

